<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex mt-10 ">
        <a href="/"  class="ml-80 underline decoration-blue-400 text-blue-600">Home</a>
        <p class="ml-2"> >Reports</p>
    </div>    
    <div class="flex text-7xl mt-5 mb-10 ml-80 font-semibold " style="color:#871be6">
        <h1>Reports</h1>
    </div>  
    <div class="flex ml-80 mb-2 text-2xl" >
        <p>Here's a quick look at recent activity : </p>
    </div>
</body>
</html>